name: Deploy Azure Local Docs to GitHub Pages

on:
  push:
    paths-ignore:
      - 'Readme.md'
    branches: [main]

  workflow_dispatch: # Allow manual triggering from the Actions tab.

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Check formatting with Prettier
        run: npx prettier --check "src/**/*.{js,jsx,json,css,md}"

      - name: Set up Vale
        uses: errata-ai/vale-action@v2
        with:
          files: .

      - name: Build site
        run: npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
